@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  line-height: inherit;
}

main {
  background-color: #F9F9F9;
}

main>div:first-child {
  @apply min-h-screen;
  @apply min-w-full;
  @apply flex-col;
}

/* remover o ícone de exibir/ocultar senha padrão do navegador */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}